<div class="login-page">
  <div class="login-card">
    <section class="login-brand">
      <div class="brand-header">
        <div class="logo-box">
          <span>TMK</span>
        </div>
        <div>
          <h1>TurnosMK</h1>
          <p>Gestión profesional de turnos</p>
        </div>
      </div>

      <div class="brand-content">
        <h2>Organizá tu negocio de forma simple y moderna</h2>
        <p>
          Centralizá clientes, horarios y reservas en una experiencia clara, rápida y profesional.
        </p>
      </div>

      <div class="brand-footer">✔ Login seguro · ✔ Panel responsive · ✔ Gestión de clientes</div>
    </section>

    <section class="login-form-section">
      <div class="login-form-container">
        <h2>Bienvenido</h2>
        <p>Ingresá con tus credenciales para administrar tus turnos.</p>

        <form [formGroup]="form">
          <div class="form-group">
            <label>Email</label>
            <input type="email" formControlName="email" placeholder="tuemail@negocio.com" />

            @if (form.get('email')?.touched && form.get('email')?.invalid) {
              <small>Ingresá un email válido</small>
            }
          </div>

          <div class="form-group">
            <label>Contraseña</label>
            <input type="password" formControlName="password" placeholder="••••••••" />

            @if (form.get('password')?.touched && form.get('password')?.invalid) {
              <small>La contraseña debe tener al menos 3 caracteres</small>
            }
          </div>

          <button (click)="send()" [disabled]="form.invalid || loading">
            @if (!loading) {
              <span>Ingresar al panel</span>
            } @else {
              <span>Ingresando...</span>
            }
          </button>
          @if (errorMsg) {
            <div class="error-box">
              {{ errorMsg }}
            </div>
          }
          <div class="auth-switch">
            <span>¿Todavía no tenés cuenta?</span>
            <a routerLink="/auth/register">Registrate acá</a>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
