<div class="body">
  <nav [class.active]="menuOpen">
    <div class="nav-title">
      <img src="logo.png" alt="" />
      <h4>Turnos MK</h4>
    </div>
    <div class="nav-links" (click)="toggleMenu()">
      <a routerLink="inicio" routerLinkActive="activo">
        <span class="material-symbols-outlined"> home </span>
        <span>Inicio</span>
      </a>
      <a routerLink="turnos" routerLinkActive="activo">
        <span class="material-symbols-outlined"> assignment_turned_in </span>
        <span>Turnos</span>
      </a>
      <!-- <a routerLink="/user/panel/settings">
        <span class="material-symbols-outlined">service_toolbox</span>
        <span>Servicios</span>
      </a> -->
      <a routerLink="horarios" routerLinkActive="activo">
        <span class="material-symbols-outlined"> timer </span>
        <span>Horarios</span>
      </a>
      <a routerLink="mi-link" routerLinkActive="activo">
        <span class="material-symbols-outlined"> link_2 </span>
        <span>Mi link</span>
      </a>
      <a routerLink="clientes" routerLinkActive="activo">
        <span class="material-symbols-outlined"> person </span>
        <span>Clientes</span>
      </a>
      <a (click)="logout()">
        <span class="material-symbols-outlined"> exit_to_app </span>
        <span>Salir</span>
      </a>
    </div>
  </nav>
  <div class="principal-panel">
    <header>
      <button (click)="toggleMenu()" class="menu-toggle">
        @if (menuOpen) {
          <span class="material-symbols-outlined"> close </span>
        } @else {
          <span class="material-symbols-outlined"> menu </span>
        }
      </button>
      <div class="header-title">
        <h2>{{ _empresa()?.name }}</h2>
      </div>
      <div class="header-data">
        <div class="noti-container">
          <span class="material-symbols-outlined bell" [class.animar]="animar" (click)="toggle()">
            notifications
          </span>

          @if (noLeidas > 0) {
            <span class="badge">{{ noLeidas }}</span>
          }

          @if (mostrar) {
            <div class="dropdown">
              <div class="header">
                <span>Notificaciones</span>
              </div>

              @if (notificaciones.length === 0) {
                <div class="empty">No hay notificaciones</div>
              }

              @for (n of notificaciones; track n._id) {
                <div class="item" [class.leida]="n.leida" (click)="marcarLeida(n)">
                  @if (!n.leida) {
                    <div class="dot"></div>
                  }

                  <div class="content">
                    <div class="top">
                      <strong>{{ n.titulo }}</strong>
                      <span class="hora">
                        {{ n.fecha | date: 'shortTime' }}
                      </span>
                    </div>

                    <p class="mensaje">
                      {{ n.mensaje }}
                    </p>
                  </div>
                </div>
              }
            </div>
          }
        </div>

        <img [src]="user()?.avatar + '.jpg'" alt="" />
      </div>
    </header>
    <main>
      <div class="main">
        <router-outlet />
      </div>
      @if (mostrarToast) {
        <div class="toast">
          <span class="mensaje">
            {{ toastMensaje }}
          </span>

          <button class="close" (click)="cerrarToast()">✕</button>
        </div>
      }
    </main>
    <footer>
      <p>© 2024 Turnos MK. Todos los derechos reservados.</p>
    </footer>
  </div>
</div>
