.turno-item{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: solid 1px #ccc;
    margin-top: 5px;
    padding: 15px 0;
}
.isCel{
    display: none;
}

@media (max-width: 768px) {
    .notIsCel{
        display: none;
    }
    .isCel{
        display: flex;
        flex-direction: column;
    }
}
